<div class="video_container">
  <%= video_tag "/assets/videos/video01.mp4", class: "video_tag", loop: true, autoplay: true, muted: true %>
</div>

<div class="video_sidebar">
  <div class="text-center m-5 pt-5">
    <h1>マイページ</h1>
  </div>
  
  <section class="section">
    <div class="row">
      <div class="offset-2 col-8 offset-sm-1 col-sm-2 text-center">
        <!--<div id="target">-->
          <figure>
            <%= attachment_image_tag @user, :profile_image, :fill, 1000, 1000,fallback: "no-image.png" %>
          </figure>
        <!--</div>-->
      </div>
      <div class="col-sm-4 mb-3" id="target">
        <div class="mb-3 h4"><%= @user.name %></div>
        <div class="h5 mb-3">
          <% if @user.id == current_user.id %>
            <%= @user.email %>
          <% end %>
        </div>
        <div class="mb-3"><%= @user.address %></div>
        <div><%= @user.profile %></div>
      </div>
      <div class="col-sm-4">
        <div id="target">
          <div id="target1" class="d-flex flex-row mb-4">
            <% if @user.id == current_user.id %>
              <%= link_to edit_user_path(@user), class: "btn btn-primary btn-sm mr-4" do %>
                <span>
                  <i class="fas fa-user faa-bounce animated-hover"></i>
                </span>
                編集
              <% end %>
              <%= link_to user_path(@user), method: :delete, data: { confirm: "本当にユーザ登録を解除してもよろしいですか?" }, class: "btn btn-danger btn-sm" do %>
                <span>
                  <i class="fas fa-user faa-wrench animated-hover" aria-hidden="true"></i>
                </span>
                削除
              <% end %>
            <% end %>
            <div>
              <%= render 'relationships/follow_button', user: @user %>
            </div>
          </div>
          <div id="target1" class="d-flex flex-row mb-4">
            <%= link_to followings_user_path(@user), class: "btn btn-primary btn-sm mr-4" do %>
              フォロー中
              <span class="badge badge-success">
                <%= @count_followings %>
              </span>
            <% end %>
            <%= link_to followers_user_path(@user), class: "btn btn-primary btn-sm" do %>
              フォロワー
              <span class="badge badge-secondary">
                <%= @count_followers %>
              </span>
            <% end %>
          </div>
          <div id="target1">
            <% unless @user.id == current_user.id %>
              <% if current_user.following?(@user) && @user.following?(current_user) %>
                <% if @isRoom == true %>
                  <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-sm">チャットへ</a></p>
                <% else %>
                  <%= form_for @room do |f| %>
                    <%= fields_for @entry do |e| %>
                      <%= e.hidden_field :user_id, value: @user.id %>
                    <% end %>
                    <%= f.submit "チャットを始める", class: "btn btn-primary btn-sm user-show-chat" %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
  
    </div>
  </section>
</div>
