<h4>気になる同士</h4>
<div class="row">
<% @entries.each do |e| %>
<div class="col-sm-5 mb-4">
  <div class="user_name">
    <strong>
      <div>
        <figure>
          <%= attachment_image_tag e.user, :profile_image, :fill, 1000, 1000,fallback: "no-image.png" %>
        </figure>
      </div>
      <a class="rooms-user-link" href="/users/<%= e.user.id %>">
        <%= e.user.name %>さん
      </a>
    </strong>
  </div>
  </div>
<% end %>
</div>


<hr>

<div class="row">
  

<% if @messages.present? %>
  <% @messages.each do |m| %>
<div class="col-sm-4">
    <%= attachment_image_tag m.user, :profile_image, :fill, 1000, 1000,fallback: "no-image.png" %>
    <strong><%= m.content %></strong>
    <time><%= m.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
</div>
  <% end %>
<% end %>

<div class="posts col-sm-8 m-3">
<%= form_for @message do |f| %>
  <%= f.text_field :content, placeholder: "メッセージを入力して下さい。", size: 70, class:"form-text-field" %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.submit "投稿", class: "form_submit" %>
<% end %>
</div>
</div>